.white-bg
{
	background-color : #fff;
	color            : #000;
}

.black-bg
{
	background-color : #000;
	color            : #fff;
}

.dark-bg
{
	background-color : #464646;
	color            : #d1d1d1;
}

.light-bg
{
	background-color : #d1d1d1;
	color            : #464646;
}

.grey-1
{
	color : #666;
}

.grey-1-bg
{
	background-color : #666;
}

.grey-2
{
	color : #949494;
}

.grey-2-bg
{
	background-color : #949494;
}

.grey-3
{
	color : #b4b4b4;
}

.grey-3-bg
{
	background-color : #b4b4b4;
}

.green
{
	color : #02d349;
}

.green-bg
{
	background-color : #02d349;
}

.yellow
{
	color : #fcac00;
}

.yellow-bg
{
	background-color : #fcac00;
}

.blue
{
	color : #00d6e0;
}

.blue-bg
{
	background-color : #00d6e0;
}

.red
{
	color : #fa4c03;
}

.red-bg
{
	background-color : #fa4c03;
}

/*graph*/
.graph-0
{
	color  : #3c6494;
	stroke : #3c6494;
}

.graph-1
{
	color  : #963d3b;
	stroke : #963d3b;
}

.graph-2
{
	color  : #799244;
	stroke : #799244;
}

.graph-3
{
	color  : #634d7e;
	stroke : #634d7e;
}

.graph-4
{
	color  : #39869b;
	stroke : #39869b;
}

.graph-5
{
	color  : #c27535;
	stroke : #c27535;
}

.graph-6
{
	color  : #4978b1;
	stroke : #4978b1;
}

.graph-7
{
	color  : #b34a47;
	stroke : #b34a47;
}

.graph-8
{
	color  : #91af53;
	stroke : #91af53;
}

.graph-9
{
	color  : #775d97;
	stroke : #775d97;
}

.graph-10
{
	color  : #46a1b9;
	stroke : #46a1b9;
}

.graph-11
{
	color  : #e78c41;
	stroke : #e78c41;
}

.graph-12
{
	color  : #7e9bc8;
	stroke : #7e9bc8;
}

.graph-13
{
	color  : #ca7e7d;
	stroke : #ca7e7d;
}

.graph-14
{
	color  : #aec683;
	stroke : #aec683;
}

.graph-15
{
	color  : #9b89b3;
	stroke : #9b89b3;
}

.graph-16
{
	color  : #7cbbcf;
	stroke : #7cbbcf;
}

.graph-17
{
	color  : #f8aa79;
	stroke : #f8aa79;
}

/*marker*/
.marker-circle
{
	stroke           : #000;
	stroke-width     : 1px;
	stroke-opacity   : 0.3;
	fill             : #ca7e7d;
	fill-opacity     : 0.3;
	background-color : #ca7e7d;
	opacity          : 0.3;
	border           : 1px solid #000;
	border-radius    : 50%;
}