*
{
	box-sizing: border-box;
	font-family: roboto;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"]
{
	font-family: roboto;
}

.pure-button
{
	border-radius: 0px;
}

body, html
{
	position: relative;
	width: 100%;
	height: 100%;
}

body
{
	font-size: 75%;
}

header
{
	line-height: 2em;
	padding: 1em;
	position: relative;
	z-index: 3;
}

.filters
{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 20em;
	bottom: 0em;
	left: 0px;
	display: block;
	border: 0px;
	padding: 0px;
	transition: all 250ms;
}

footer
{
	padding-left: 1em;
	position: fixed;
	bottom: 0em;
	line-height: 1.6em;
	width: 100%;
	z-index: 998;
}

.filters.visible
{
	bottom: -20em;
}

.map
{
	position: relative;
	width: 100%;
	height: calc(100vh - 2em - 72px);
	z-index: 1;
}

main.main-content
{
	position: relative;
	top: calc(2em + 72px);
}

#filter-message
{
	padding-left: 1em;
	align-self: center;
}

.filters nav.filter-btn
{
	display: block;
	position: absolute;
	height: 1em;
	bottom: -1em;
	right: 1em;
}

.filters nav.filter-tab-switch
{
	display: block;
	position: absolute;
	height: 1em;
	bottom: -1em;
	width: 25em;
}

.filter-tab section.select
{
	padding-left: 1em;
	padding-right: 1em;
}

.filter-tab header
{
	font-weight: bold;
	padding: 0;
}

#filter_pane header.ys
{
	padding-left: 1em;
}

.filter-tab section.select select
{
	width: 100%;
}

.filters nav.filter-tab-switch a.pure-button
{
	display: block;
	margin-right: 4px;
}

#map-main
{
	height: 100%;
}

.year-container
{
	height: 150px;
	position: relative;
}

.year-container div
{
	position: absolute;
	width: 100%;
	height: 10%;
	background-color: #3c6494;;
	bottom: 0px;
	color: #fff;
	padding: 0px;
	margin: 0px;
	transition: height 750ms;
}

.main-header
{
	position: fixed;
	width: 100%;
	z-index: 5;
	padding: 0px;
	height: calc(72px + 2em);
	max-height: calc(72px + 2em);;
}

.main-header section.logo
{
	position: relative;
	z-index: 3;
	padding: 1em;
	display: flex;
	/*flex-wrap: wrap;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	width: 100%;
}

.logo span.main-logo
{
	min-width: 150px;
}

.year-container div.sel
{
	background-color: #ca7e7d;
}

.map-control, .map-control-city, .map-control-search
{
	position: absolute;
	width: 5.4em;
	left: 2em;
	z-index: 2;
	bottom: 2em;
}

.map-control-city
{
	left: 7.4em;
}
.map-control-search
{
	left: 10.4em;
	bottom: 4.5em;
	width: 16em;
}
.map-control-search input
{
	width: 13em;
}
.map-control span a, .map-control-city span a
{
	margin: 0.2em;
	display: block;
	text-align: center;
}

.map-control span a.pure-button, .map-control-city span a.pure-button
{
	padding-left: 0px;
	padding-right: 0px;

}

.map-control-city span a.pure-button, .map-control span a.pure-button, .filters nav.filter-tab-switch a.pure-button, .filters nav.filter-btn a.pure-button
{
	box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.5);
}

ul.years
{
	padding: 0px;
	margin: 0px;
	list-style-image: none;
	display: inline-block;
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
}

ul.years li
{
	display: inline-block;
	text-align: center;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	width: 5.84%;
}

ul.years li div.year-val
{
	padding-top: 1em;
	border-top: 1px solid #000;
	margin-top: 0.2em;
	font-size: 0.7em;
}

ul.years li div.year-container div
{
	/*font-size: 0.7em; bigger numbers in yearSelector*/
}

.marker-circle
{
	cursor: pointer;
}

.graph-inner
{
	position: absolute;
	width: 80px;
	height: 80px;
	left: -40px;
	top: -40px;
	background: #fff;
	border-radius: 50%;
	text-align: center;
}
.select-wrapper
{
	position: relative;
	background-color: #fff;
	padding: 0.5em;
	overflow: auto;
	height: 15em;
}
.select-item
{
	border-bottom: 1px solid #fafafa;
	padding: 0.2em;
	cursor: pointer;
}
.graph-inner header
{
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	padding-top: 1em;
}
.gp-labels .pure-menu
{
	position: relative;
	height: 23em;
	overflow: auto;
	padding-left: 1em;
}
.gp-labels .pure-menu .pure-menu-list
{
	position: absolute;
}
.gp-labels .pure-menu .pure-menu-list li
{
	margin-bottom: 1em;
}
.gp-labels .pure-menu .pure-menu-list li span
{
	width: 1em;
	margin-right: 1em;
	display: inline-block;
}
.tip-wrap
{
	background-color: #fff;
	border: 1px solid #000;
	z-index: 999;
	border-radius: 0.5em;
	padding: 1em;
	max-width: 30em;
}

.tip-wrap .tip-title
{
	font-weight: bold;
}

.graph-section .ct-chart
{
	height: 300px;
}

#e-graphs.page-section, #e-table.page-section
{
	padding-top: 12em;
	padding-bottom: 4em;
}

.page-scroller
{
	position: fixed;
	top: 50%;
	z-index: 999;
	width: 1em;
	right: 2em;
}

.page-scroller i
{
	font-size: 1.5em;
	padding: 0.5em 0.25em 0.5em 0.25em;
	opacity: 1;
	transition: opacity 250ms;
}

.page-scroller i.c-hidden
{
	opacity: 0;
}

.ct-chart .ct-bar
{
	stroke-width: 5%;
}

.pure-table
{
	width: 100%;
}

@media screen and (max-width: 35.5em)
{
	/*
	.filters
	{
		width: 100%;
		height: 100%;
	}
	*/
}

@media screen and (max-width: 48em)
{
	/*
	.filters
	{
		width: 100%;
		height: 100%;
	}
	*/
}

@media screen and (max-width: 64em)
{
	.filters
	{
		height: 28em;
	}

	.filters.visible
	{
		bottom: -28em;
	}
}

@media screen and (min-width: 80em)
{

}

.ct-chart .ct-label,.ct-chart .ct-label.ct-horizontal
{
    text-align: center;
}

/*for live version*/
.leaflet-popup-scrolled {
    border-bottom: none;
    border-top: none;
    height: 180px;
}